@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page not found</title>
</head>
<body>
<div>
    Page not found
    <br/>
    <a href="/">Return to home page</a>
</div>
</body>
</html>