@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    @foreach (var role in Model)
    {
        <div class="item">
            <span class="id">
                @role.RoleID
            </span>
            <span class="name">
                @role.RoleName
            </span>
        </div>
    }
</p>
