@{
    ViewBag.Title = "Start Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Sportclub Manager v0.1</h1>
    <p class="lead">Welcome to Sportclub Manager</p>
    <p>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("About", "About", "Home", null, new { @class = "btn btn-primary btn-lg" })
        }
        else
        {
            @Html.ActionLink("Login", "Index", "Login", null, new { @class = "btn btn-primary btn-lg" })
        }
        @*<a href="http://asp.net" class="btn btn-primary btn-lg">Login</a>*@
    </p>
</div>
