body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('pattern.jpg');
    font-family: Consolas
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-image: url("pattern.jpg");
}

h1, h2 {
    font-family: Consolas !important
}
.navbar-inner {
    background-color: #bfcfdf;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 10px;
    text-align: center;
    width: 280px;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control-new {
  position: relative;
  height: auto;
  width: 320px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control-new:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login .btn-margin {
  margin-right: 10px;
    width: 280px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, 
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-bottom: 10px;
    align-content: center;
}

.select-day {
    width: 64px;
    height: 34px;
    border-radius: 4px;
}
.select-month {
    width: 106px;
    height: 34px;
    border-radius: 4px;
}
.select-year {
    width: 84px;
    height: 34px;
    border-radius: 4px;
}.req {
    color: red;
    font-style: italic;
}.chb {
    margin: 0 !important;
}.date-disabled {
    margin: 2px;
    text-align: center;
    font-size: 16px;
}